*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
}
.row {
  display: flex;
  justify-content: center;
}

.row div {
  position: relative;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.row div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
